@import "./node_modules/bulma/sass/utilities/_all"
@import "./node_modules/bulma/sass/elements/_all"
@import "./node_modules/bulma/sass/layout/_all"
@import "./node_modules/bulma/sass/grid/_all"
// below messes up mermaid diagrams
// @import "./node_modules/bulma/sass/form/_all"
@import "./node_modules/bulma/sass/components/_all"
@import "./node_modules/bulma/sass/base/helpers"
// bulma -- sass -- base does not work
// @import "./node_modules/bulma/sass/base/generic"
*
  background-color: transparent

html
  body
    color: azure
    background-color: #000
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png")

h1, h2
  text-shadow: -1px -1px 0.5px #FFF, 0px 0px 0.5px #000

h1,h2,h3,h4,h5,h6
  color: goldenrod
h1
  border-bottom: 1px solid goldenrod !important

li
  margin-top: 1em
  color: skyblue

h2>code, p>code, li>code, div>code, span>code
  background-color: #09A
  border-radius: 7px
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #FFF, -1px 1px 2px #000, 1px -1px 2px #000
  background: linear-gradient(#FFF,#09f)
  color: blue
  margin: 5px
  padding: 2px 1em
  font-family: 'Fira Mono', monospace
  font-size: 0.8em

body ::selection
  background: transparent !important
  text-shadow: 1px 0px 1px , 0px 1px 1px , -1px 0px 1px , 0px -1px 1px , 0px 1px black , 1px 0px black , -1px 0px black , 0px -1px black !important

pre
  background: transparent !important
  // font-weight: bold

#stack-container
  position: fixed
  height: 5em
  display: flex
  flex-direction: column-reverse
  bottom: 5vh
  right: 5vw
  width: 20vw

p
  font-weight: 100

// bold changes colour slightly
strong 
  color: PaleTurquoise

// italics changes colour slightly
em 
  color: LemonChiffon

s 
  color: LightCoral