h1,h2,h3,h4,h5,h6{
    color:chartreuse;
    font-weight: bolder;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size:16px;
}

code {
    filter: hue-rotate(10) !important;
}