* {
  box-sizing: border-box;
}

.page {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
}

nav, ul, article {
  border: 2px solid black;
} 

.brand-header {
  text-align: center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  margin: 0;
  width: 100%;
}

.site-section {
  list-style: none;
}

.section-link {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
  font-weight: bolder;
  color: gray;
  filter: brightness(0.5);
  text-decoration: none;
}
.section-link:hover {
  text-decoration: underline;
}

.story {
  text-align: center;
  padding: 1em;
  width: 30vw;
  flex-grow: 1;
}

.story-5 {
  flex-grow: 2;
}

.article-title {
  font-style: italic;
  font-weight: bold;
}
.article-text {
  text-align: justify;
}
.article-img {
  width: 200px;
}