#container {
  display: flex;
  background-color: rgba(30, 10, 120, 0.5);
  min-height: 0;
  border: 5px double white;
  border-radius: 1em;
  border-bottom-style: groove;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1em;
  padding: 1em 0;
}
.object {
  background: radial-gradient(circle, rgb(255, 6, 205) 0%, orangered 80%);
  border: 5px inset red;
  border-radius: 1em;
  padding: 20px;
  margin: 20px;
  height: 1em;
  width: 1em;
  font-weight: bold;
}
