/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background */
  color: #fff; /* Light text */
  margin: 0;
  padding: 0;
}

a {
  color: limegreen;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header, .course-recommendations {
  text-align: center;
}

h1 {
  margin: 0;
}

.content {
  margin-top: 10px;
}

.user-info,
.insights {
  display: flex;
  justify-content: space-between;
}

.grade-trend, .risk-indicators {
  color:springgreen;
}

.course {
  background-color: #333; /* Dark background for course */
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.reject-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: tomato;
  cursor: pointer;
}

.progress-bar {
  background-color: #333; /* Dark background for progress bar */
  height: 20px;
  width: 100%;
}

.progress {
  background-color: #007bff; /* Blue progress indicator */
  height: 100%;
  width: 0;
  text-align: center;
  line-height: 20px;
}

.course-recommendations {
  overflow-y: auto; /* Enable scroll only when content exceeds available space */
}

.course-feed {
  max-height: 50vh; /* Adjust as needed */
  overflow-y: auto;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  box-sizing:border-box;
  border-radius: 5px;
  background-color: #222; /* Darker background */
  color: #fff; /* Light text */
}

@media (max-width: 600px) {
  .container {
      padding: 10px;
  }
}
